.home {
  display: grid;
  max-width: 1200px;
  overflow: hidden;
  margin: 58px auto 50px;
  position: relative;

  .main {
    .home-header {
      margin: 0 auto 12px;
      text-align: center;
    }
  }
}
